@import "../../index.scss";

header{
    display: flex;
    padding: 10px;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.05);
    h2{
        margin-right: 10px;
    }
    .header_button,
    .search_popupButton{
        padding: 5px 10px;
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        margin-right: 10px;
        cursor: pointer;
    }

    .search_popupButton_afterRegistration{
        padding: 5px 10px;
        margin-right: 10px;
    }
    .header_button:hover,
    .search_popupButton:hover{
        background-color: rgba(0, 0, 0, 0.07);
    }
    .searchSort_container{
        display: flex;
    }
    .searchSort_container_hidden,
    .search_popupButton_hidden{
        display: none;
    }
    .search_input{
        padding: 0 5px;
    }
    .input_container{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }
}
